.trigger {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 30px;
  padding: 0 6px;

  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  .arrowIcon {
    transform: rotate(180deg);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
  }

  &[data-state='open'] {
    transform: rotate(0);

    border-color: var(--color-dark-100);
    border-bottom-width: 0.5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-100);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.content {
  width: 44px;

  background-clip: content-box;
  border: 1px solid var(--color-dark-100);
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  .item {
    all: unset;
    cursor: pointer;
    padding: 0 6px;

    &:hover {
      background-color: var(--color-primary-900);
    }
  }

  &:active {
    border-color: var(--color-dark-100);
  }
}
