.root {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--color-dark-900);

  background-color: #fff;
  border-radius: 50%;
}
