.list {
  display: inline-flex;
  flex-shrink: 0;
}

.trigger {
  cursor: pointer;

  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: nowrap;

  padding: 6px 24px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);

  &:last-of-type {
    border-radius: 0 2px 2px 0;
  }

  &:first-of-type {
    border-radius: 2px 0 0 2px;
  }

  &:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-100);
  }

  &[data-state='active'] {
    color: inherit;
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
  }

  &[data-disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.content {
  color: inherit;
}
